.App {
    text-align: center;
    
}

.icon-container {
  width: 100%;
  height:1.2cm;
  padding:0;
}

.icon-container img{
  width: 1.2cm;
  height:1.2cm;
  margin-right: 5px;
}
  
  .text-block {
    width: 410px;
    height:310px;
    /* 
    left: 1cm;
    top: 1cm;
    background-color: rgb(49, 49, 49); */
    position: absolute;
    top: 80px;
    left: 80px;
    background-color: #3D84D4;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px #52C6DC solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4em;
    
  }
  
  h4 {
    margin: 0;
  }
  
  body.App-header {
    margin:0;
  }
  .App-header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 40px;
    line-height: 0px;
    text-align: center;
    margin-top: 1cm;
    color: #3D84D4;
  }
  
  .App-header h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    line-height: 0px;
    text-align: center;
    color: #3D84D4;
    padding-bottom: 50px;
    
  }
  
  hr { 
    margin-top: 1cm;
    max-width:100%; 
    height:6px; 
    background: #52C6DC
   }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .offers {
    font-size: 34px;
    text-align: center;
    color: #3D84D4;
    text-transform: uppercase; 
    
  }
  
  .breakLine {
    margin-top: 0cm;
    max-width:100%; 
    height:6px; 
    background: #52C6DC
  }
  
  
  /*NavBar*/
  .nav-container {
    display: flex;
    width: 100%;
    }
    .nav-container li{ border-right: 3px white solid; padding-right: 9px; }
    
    .nav-container div {
      width: 100%;
      padding: 10px;
      border: 1px #3D84D4 solid;
      flex-direction: row;
      margin: 0px;
      text-transform: uppercase;
    
      }
    
    .box1 {
    flex: 1;
    height: 20px;
    text-align: center;
    }
    
    .box2 {
      flex: 1;
      height: 20px;
    text-align: center;
    }

 
    
    .box3 {
      flex: 1;
      height: 20px;
    text-align: center;
    }
    
    .box4 {
      flex: 1;
      height: 20px;
    text-align: center;
    }
    
    .box5 {
      flex: 1;
      height: 20px;
    text-align: center;
    }
    
    .box6 {
      flex: 1;
      height: 20px;
    text-align: center;
    }
    
    ul.nav-container {
      margin:0;
      padding:0;
      list-style-type: none;
      background-color: #3D84D4;
    }
    
    a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    }
    
    a:hover{
      
      color: rgb(57, 255, 255);
     } 
  
     .active {
       border-bottom: 3px rgb(255, 255, 255) solid;
       
  
     }

     .sub-header {
        display: flex;
        margin-top: 0.2cm;
        margin-bottom: 40px;
        width: 100%;
        height: 0.1cm;
        background-color: white;
        flex-direction: row;
    }

    .sub-header-box-1 {
        flex:1;
        border: 2px white solid;
        margin-top: 0;
        color: #3D84D4;
        height: 0.1cm;
    }

    

     .brand-container {
         display: flex;
         width: 100%;
         /* border: 3px #3D84D4 solid; */
     }
     
     .brand-container div {
         text-align: center;
         height: auto;
         background-color: white;
         
         flex-direction: row;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         
     }

     .martinBox {
         flex: 1;
         
     }

     .takamineBox {
        flex: 1;
    }

    .faithBox {
        flex: 1;
        
    }

    .sigmaBox {
        flex: 1;
    }

    .lowdenBox {
        flex: 1;
    }

    .tanglewoodBox {
        flex: 1;
    }
  

    .view-container {
        text-align: center;
            display: flex;
            margin-top: 0.5cm;
            margin-bottom: 1cm;
            /* margin-left: 1.75cm; */
            width: auto;
             background-color: white;
             flex-direction: row;
             font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .view-container div {
        height: auto;
        width: 100%;
        text-align: center;
        flex-direction: row;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .view-martin {
        flex: 1;
        text-align: center;
    }

    .view-takamine {
        flex: 1;
    }

    .view-faith {
        flex: 1;   
    }

    .view-sigma {
        flex: 1;
    }

    .view-lowden {
    flex: 1;
    }

    .view-tanglewood {
        flex: 1;   
    }

    .view-martin-button {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        left: 4cm;
        width:2cm;
        padding: 10px 40px;
        background: #3D84D4;
        color: white;
        border: 3px #52C6DC solid;
        border-radius: 40px;
    }

    .view-takamine-button {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        width:2cm;
        padding: 10px 40px;
        background: #3D84D4;
        color: white;
        border: 3px #52C6DC solid;
        border-radius: 40px;
    }

    .view-faith-button {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        width:2cm;
        padding: 10px 40px;
        background: #3D84D4;
        color: white;
        border: 3px #52C6DC solid;
        border-radius: 40px;
    }

    .view-sigma-button {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        width:2cm;
        padding: 10px 40px;
        background: #3D84D4;
        color: white;
        border: 3px #52C6DC solid;
        border-radius: 40px;
    }

    .view-lowden-button {
        width:2cm;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px 40px;
        background: #3D84D4;
        color: white;
        border: 3px #52C6DC solid;
        border-radius: 40px;
    }

    .view-tanglewood-button {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        width:2cm;
        padding: 10px 40px;
        background: #3D84D4;
        color: white;
        border: 3px #52C6DC solid;
        border-radius: 40px;
    }
    
     /*SUBSCRIBE*/
  
     .sub-container {
       display: flex;
     }
  
     .sub-container div{
      width:100%;
       height: 5cm;
       color: white;
       background-color: #52C6DC;
      padding: 10px;
        flex-direction: row;
        margin-top: 2cm;
        height: 5cm;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 32px;
     }
  
     .sub-container h5 {
       margin:0;
     }
  
     .sub-container p{
       font-size: 18px;
       margin-top:40px;
     }
  
     .sub-container .box-1 {
       flex: 1;
     }
  
     .sub-container .box-2 {
      flex: 1;
    }

     .sub-container .box-3 {
       flex: 1;
     }

     .sub-container .box-4 {
      flex: 1;
    }

    .sub-container .box-4 img {
      margin-left:0;
      margin-top: 1.33cm;
    }
     
     
     /*FOOTER*/
  
     .footer-container {
      display: flex;
      width:100%;
      color: white;
      }
      
      .footer-container div {
        width: 100%;
        padding: 10px;
        border: 1px #3D84D4 solid;
        background-color: #3D84D4;
        flex-direction: row;
        margin: 0px;
        height: 7cm;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        }
  
        .footer-container h3{
          margin-top: 0px;
        }
  
        .footer-container .boxA {
          flex: 1;
          left:15px;
        }

        .footer-container .boxA img{
          padding-right: 10px;
        }
  
        .footer-container .boxB {
          flex: 1;
        }

        .footer-container .boxB img{
        padding-right:10px;
        
        }
  
        .footer-container .boxC {
          flex: 1;
        }

        .footer-container .boxC img{
          padding-right: 20px;
          }
  
          .footer-container .boxB p {
            margin: 5px;
          }
        
        


        .form__input_name {
          font-family: 'Roboto', sans-serif;
          color: #333;
          font-size: 1.1rem;
          margin-top: 1.5cm;
          margin-left: 15.5%;
          padding: 0.6rem 2.5rem;
          border-radius: 0.2rem;
          background-color: rgb(255, 255, 255);
          border: none;
          width: 50%;
          display: flex;
          flex-direction: row;
          border-bottom: 0.3rem solid transparent;
          transition: all 0.3s;
        }
        
        .form__input_name:placeholder-shown + .form__label_name {
          opacity: 0;
          visibility: hidden;
          -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
        }

        .form__input_email {
          font-family: 'Roboto', sans-serif;
          color: #333;
          font-size: 1.1rem;
          margin-top: 1.5cm;
          margin-left:0.8cm;
          padding: 0.6rem 2.5rem;
          border-radius: 0.2rem;
          background-color: rgb(255, 255, 255);
          border: none;
          width: 50%;
          display: flex;
          flex-direction: row;
          border-bottom: 0.3rem solid transparent;
          transition: all 0.3s;
        }
        
        .form__input_email:placeholder-shown + .form__label_email{
          opacity: 0;
          visibility: hidden;
          -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
        }

    .gtar-container-box-1 .cart {
      width:200px; 
      height:54px; 
      margin-left:2.5cm; 
      margin-top:0.2cm;
      border:none;
      
    }

        
