.App {
  text-align: center;
  
}

.logo-container {
  /* height: 110vmin;
  margin: 1.25cm;
  max-width: 100%;
  pointer-events: all; */
  position: relative;
  border: 5px solid #3D84D4;
  margin: 1.25cm;
}

.text-block {
  width: 410px;
  height:310px;
  /* 
  left: 1cm;
  top: 1cm;
  background-color: rgb(49, 49, 49); */
  position: absolute;
  top: 80px;
  left: 80px;
  background-color: #3D84D4;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px #52C6DC solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 4em;
  
}

h4 {
  margin: 0;
}

body.App-header {
  margin:0;
}
.App-header h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 40px;
  line-height: 0px;
  text-align: center;
  margin-top: 1cm;
  color: #3D84D4;
}

.App-header h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 12px;
  line-height: 0px;
  text-align: center;
  color: #3D84D4;
  padding-bottom: 50px;
  
}

hr { 
  margin-top: 1cm;
  max-width:100%; 
  height:6px; 
  background: #52C6DC
 }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.offers {
  font-size: 34px;
  text-align: center;
  color: #3D84D4;
  text-transform: uppercase; 
  
}

.breakLine {
  margin-top: 0cm;
  max-width:100%; 
  height:6px; 
  background: #52C6DC
}


/*NavBar*/
.nav-container {
  display: flex;
  width: 100%;
  }
  
  .nav-container div {
    width: 100%;
    padding: 10px;
    border: 1px #3D84D4 solid;
    flex-direction: row;
    margin: 0px;
    text-transform: uppercase;
  
    }
  
  .box1 {
  flex: 1;
  height: 20px;
  text-align: center;
  }
  
  .box2 {
    flex: 1;
    height: 20px;
  text-align: center;
  }
  
  .box3 {
    flex: 1;
    height: 20px;
  text-align: center;
  }
  
  .box4 {
    flex: 1;
    height: 20px;
  text-align: center;
  }
  
  .box5 {
    flex: 1;
    height: 20px;
  text-align: center;
  }
  
  .box6 {
    flex: 1;
    height: 20px;
  text-align: center;
  }
  
  ul.nav-container {
    margin:0;
    padding:0;
    list-style-type: none;
    background-color: #3D84D4;
  }
  
  a {
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  
  a:hover{
    
    color: rgb(57, 255, 255);
   } 

   .active {
     border-bottom: 3px rgb(255, 255, 255) solid;
     

   }

   /*SUBSCRIBE*/

   .sub-container {
     display: flex;
   }

   .sub-container div{
    width:100%;
     height: 5cm;
     color: white;
     background-color: #52C6DC;
    /* width: 450px;
    height:180px;
    position: relative;
    top: 10px;
    left: 15px; */
    padding: 10px;
      flex-direction: row;
      margin: 0px;
      height: 5cm;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 32px;
   }

   .sub-container h5 {
     margin:0;
   }

   .sub-container p{
     font-size: 18px;
     margin-top:40px;
   }

   .sub-container .box-1 {
     flex: 1;
   }

   .sub-container .box-2 {
    flex: 2;
  }

   /* .footer-box {
    width:100%;
    height: 10cm;
    background-color: #3D84D4;
    color: white;
  }

  .footer-text {
    width: 350px;
    height:360px;
    position: relative;
    top: 0px;
    left: 15px;  
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
   }

   .footer-text h5 {
     margin:0;
   } */
   
   
   /*FOOTER*/

   .footer-container {
    display: flex;
    width:100%;
    color: white;
    }
    
    .footer-container div {
      width: 100%;
      padding: 10px;
      border: 1px #3D84D4 solid;
      background-color: #3D84D4;
      flex-direction: row;
      margin: 0px;
      height: 10cm;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
      }

      .footer-container h3{
        margin-top: 0px;
      }

      .footer-container .boxA {
        flex: 1;
        left:15px;
      }

      .footer-container .boxB {
        flex: 1;
      }

      .footer-container .boxC {
        flex: 1;
      }

        .footer-container .boxB p {
          margin: 20px;
        }